<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Шаблоны сайтов бесплатно, дизайн сайта бесплатно, адаптивный дизайн">
    <meta name="keywords" content="Шаблоны сайтов бесплатно, дизайн сайта бесплатно, адаптивный дизайн">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Бесплатные шаблоны сайтов</title>
</head>
<body>
    <div class="wrapper">
        <!--Шапка-->
        <div class="header">
            <div class="header-logo"></div>
            <div class="headerContent">

                <!--Навигация-->
                <ul class="menu">
                    <li><a href=#>Новини села</a></li>
                    <li>
                        <a href=#>Документація</a>
                        <ul class="submenu">
                            <li><a href=#>На землю</a></li>
                            <li><a href=#>На хату</a></li>
                            <li><a href=#>На рогату худобу</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href=#>Купи Продай</a>
                        <ul class="submenu">
                            <li><a href=#>Купити село Явора</a></li>
                            <li><a href=#>Продати село Явора</a></li>
                        </ul>
                    </li>
                    <li><a href=#>Фотогалерея</a></li>
                    <li><a href=#>Парафіянам</a></li>
                    <li>
                        <a href=#>Рієлторські послуги</a><ul class="submenu">
                            <li><a href=#>Дусин Микола</a></li>
                            <li><a href=#>Романович Іван</a></li>
                        </ul>
                    </li>
                    <li><a href="@Url.Action("Login","Account")">Admin</a></li>
                </ul>
            </div>
        </div>
        @RenderBody()
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap-transition.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap-carousel.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
        <script src="~/js/js.js"></script>
        @RenderSection("Scripts", required: false)
</body>
</html>