################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.dll
bin/
Properties/
obj/
.vs/javora/config/applicationhost.config
.vs/javora/DesignTimeBuild/.dtbcache
.vs/javora/v16/.suo
.vs/javora/v16/Server/sqlite3/db.lock
.vs/javora/v16/Server/sqlite3/storage.ide
.vs/javora/v16/Server/sqlite3/storage.ide-shm
.vs/javora/v16/Server/sqlite3/storage.ide-wal
