@{
    ViewData["Title"] = "Село Явора";
}

    <div class="slider">

        <div id="myCarousel" class="carousel slide">
            <h1>Основні новини</h1>
            <div class="carousel-inner">
                <div class="item active">
                    <img src="/RootContent/car1.jpg" alt="">
                    <div class="carousel-caption">
                        <h2> В селі Явора нічого не сталося</h2>
                        <p>Ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля</p>
                    </div>
                </div>
                <div class="item">
                    <img src="/RootContent/car2.jpg" alt="">
                    <div class="carousel-caption">
                        <h2>ФК Явора нічого не виграла</h2>
                        <p>Ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля</p>
                    </div>
                </div>
                <div class="item">
                    <img src="/RootContent/car3.jpg" alt="">
                    <div class="carousel-caption">
                        <h2>В селі Явора ніхто не народився і не помер</h2>
                        <p>Ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля</p>
                    </div>
                </div>
            </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>
    </div>
    <div class="content">
        <div class="main">
            <h1>Новини села</h1>
            <div class="news-block">

                <h2> В селі Явора нічого не сталося</h2>
                <img src="/RootContent/car1.jpg">
                <p>Ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля</p>

            </div>
            <div class="news-block">

                <h2> ФК Явора нічого не виграла</h2>
                <img src="/RootContent/car2.jpg">
                <p>Ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля</p>

            </div>
            <div class="news-block">

                <h2> В селі Явора ніхто не народився і не помер</h2>
                <img src="/RootContent/car3.jpg">
                <p>Ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля ля</p>

            </div>
        </div>
    </div>
