@model IEnumerable<javora.Models.View.NewsModel>
@{
    ViewData["Title"] = "Село Явора";
}

<section id="center">
    <div class="center_main clearfix">
        <div class="container">
            <div class="row">
                <div class="center clearfix">
                    <h1>Явора</h1>
                    <p>
                        Гірське ело, розташоване на березі річки Стрий в Східних Бескидах,
                        на трасі Ужгород-Самбір, за 7 км на північний схід від районного центру.
                    </p>
                    <div class="weather-area">
                        <!-- Gismeteo informer START -->
                        <link rel="stylesheet" type="text/css"
                              href="https://www.gismeteo.ua/assets/flat-ui/legacy/css/informer.min.css">
                        <div id="gsInformerID-atbyL07hgt2EOg" class="gsInformer" style="width:250px;height:189px">
                            <div class="gsIContent">
                                <div id="cityLink">
                                    <a href="https://www.gismeteo.ua/ua/weather-yavora-89137/" target="_blank"
                                       title="Погода в Яворі">
                                        <img src="https://www.gismeteo.ua/assets/flat-ui/img/gisloader.svg"
                                             width="24" height="24" alt="Погода в Яворі">
                                    </a>
                                </div>
                                <div class="gsLinks">
                                    <table>
                                        <tr>
                                            <td>
                                                <div class="leftCol">
                                                    <a href="https://www.gismeteo.ua/ua/" target="_blank"
                                                       title="Погода">
                                                        <img alt="Погода"
                                                             src="https://www.gismeteo.ua/assets/flat-ui/img/logo-mini2.png"
                                                             align="middle" border="0" width="11" height="16" />
                                                        <img src="https://www.gismeteo.ua/assets/flat-ui/img/informer/gismeteo.svg"
                                                             border="0" align="middle" style="left: 5px; top:1px">
                                                    </a>
                                                </div>
                                                <div class="rightCol">
                                                    <a href="https://www.gismeteo.ua/ua/weather-yavora-89137/2-weeks/"
                                                       target="_blank" title="Погода в Яворі на 2 тижні">
                                                        <img src="https://www.gismeteo.ua/assets/flat-ui/img/informer/forecast-2weeks.ua.svg"
                                                             border="0" align="middle" style="top:auto"
                                                             alt="Погода в Яворі на 2 тижні">
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <script async
                                src="https://www.gismeteo.ua/api/informer/getinformer/?hash=atbyL07hgt2EOg"></script>
                        <!-- Gismeteo informer END -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- top news -->
<section id="properties" class="clearfix">
    <div class="col-sm-12">
        <div class="properties_1">
            <h3 class="text-left">Останні новини</h3>
        </div>
    </div>
    @await Html.PartialAsync("_LastNews", Model)
    
    <div class="col-sm-12">
        <div class="properties_1">
            <a href="#"><p class="text-right">Всі новини</p></a>
        </div>
    </div>
</section>
<section id="trust">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="trust_1">
                    <h3 class="text-left">Оголошення</h3>
                </div>
            </div>
            <div class="col-sm-12">

                <div class="col-sm-4">
                    <div class="trust_2">
                        <img src="img/car4.jpg" alt="img" style="width:100%;">
                    </div>
                    <div class="trust_3">
                        <h3 class="text-center"><a href="blog.html">Явірське дербі</a></h3>
                        <h5 class="text-center"><i class="fa fa-map-marker"></i> Стадіон</h5>
                        <h5 class="text-center"><i class="fa fa-calendar"></i> 01.03.2020 <i class="fa fa-clock"></i> 15:00</h5>
                        <hr class="hr_1">
                        <p class="text-center">ФК Явора - ФК Явора Юнаки. Не пропусти головний матч сезону.</p>
                        <h4 class="text-center"><a href="blog.html">Детальніше</a></h4>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="trust_2">
                        <img src="~/RootContent/car5.jpg" alt="img" style="width:100%;">
                    </div>
                    <div class="trust_3">
                        <h3 class="text-center"><a href="blog.html">Концерт Винника</a></h3>
                        <h5 class="text-center"><i class="fa fa-map-marker"></i> Народний дім</h5>
                        <h5 class="text-center"><i class="fa fa-calendar"></i> Ніколи <i class="fa fa-clock"></i> 15:00</h5>
                        <hr class="hr_1">
                        <p class="text-center">Кумир мільйонів. А ти належиш до фан-клубу вовчиць?</p>
                        <h4 class="text-center"><a href="blog.html">Детальніше</a></h4>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="trust_2">
                        <img src="~/RootContent/car6.jpg" alt="img" style="width:100%;">
                    </div>
                    <div class="trust_3">
                        <h3 class="text-center"><a href="blog.html">Заборона вживання алкоголю</a></h3>
                        <!-- <h5 class="text-center"><i class="fa fa-map-marker"></i>Народний дім</h5> -->
                        <h5 class="text-center"><i class="fa fa-calendar"></i> 02.03.2020 - 18.04.2020 </h5>
                        <hr class="hr_1">
                        <p class="text-center">
                            У зв'язку з великим постом радимо відмовитись від надмірного вживання алкоголю
                            який є шкідливимм для вашого здоров'я.
                        </p>
                        <h4 class="text-center"><a href="blog.html">Детальніше</a></h4>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="trust_1">
                    <a href="#"><p class="text-right">Всі оголошення</p></a>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="studio" class="clearfix">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="studio_1">
                    <h3 class="text-left">Фото</h3>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="col-sm-4">
                    <div class="studio_2 clearfix">
                        <img src="~/RootContent/car7.jpg" style="height:300px; width:100%;">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="studio_3">
                        <img src="~/RootContent/car8.jpg" style="height:300px; width:100%;">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="studio_3">
                        <img src="~/RootContent/car9.jpg" style="height:300px; width:100%;">
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="col-sm-4">
                    <div class="studio_3">
                        <img src="img/car10.jpg" style="height:300px; width:100%;">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="studio_2 clearfix">
                        <img src="img/car1.jpg" style="height:300px; width:100%;">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="studio_3">
                        <img src="~/RootContent/car3.jpg" style="height:300px; width:100%;">
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="studio_1">
                    <a href="#"><p class="text-right">Всі фото</p></a>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="our" class="clearfix">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="our_1">
                    <h3 class="text-center">Зв'язатись з нами</h3>
                    <p class="text-center">Маєш цікавий матеріал для нашого сайту? Зв'яжись з нами за вказаними контактами</p>
                    <h3 class="text-center">
                        <i class="fa fa-phone"></i>+38(050) 000 00 00 <br /><i class="fa fa-envelope"></i>email@email.com<br />
                        <i class="fab fa-telegram"></i>@@telegram<br /> <i class="fab fa-viber"></i>viber<br />
                    </h3>
                </div>
            </div>
            <!-- <div class="col-sm-12">
                <div class="col-sm-4">
                    <div class="our_2 text-center">
                        <i class="fa fa-heart"></i>
                        <h4><a href="blog.html">Consectetur Adipiscing</a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odionec.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="our_2 text-center">
                        <i class="fa fa-home"></i>
                        <h4><a href="blog.html">Vestibulum Lacinia</a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odionec.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="our_2 text-center">
                        <i class="fa fa-building"></i>
                        <h4><a href="blog.html">Praesent Mauris</a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odionec.</p>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</section>
